@import "./reset.scss";
@import "./style.scss";
// 开发pc时请使用 pcStyle.scss 开发移动站点时请使用index.scss

// 移动端
// font_dpr rem

// pc端
// font_fn bg_fn

//start

.pc_box{
    a:hover{
        text-decoration: none;
    }
    ul li {
        list-style: none;
    }

    .main{
        width:100%;
        overflow: hidden;
        height: auto;

        .fl{
            float:left;
        }
        .fr{
            float:right;
        }

    }

    //第一部分 banner 部分
    .prt1{
        width:100%;
        height:692px;
        background:url(../images/APP_spread_banner.jpg) no-repeat center / cover;
    }
    // 第二部分
    .prt2{


    }
    // 第三部分
    .prt3{

    }
    //  第四部分
    .prt4{


    }
    // 第五部分
    .prt5{

    }
    // 第六部分
    .prt6{

    }

}
